*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.heading{
    background-color: lightpink;  
    height: 80vh;
    display: flex;
    justify-content:center;
    border: 2px solid gray;
    align-items: center;
    
    flex-shrink: 0;
}
.heading-title{
   font-size: 55px;
    font-weight: bold;
    display: flex;
   
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}
.heading-image{
    height: 500px;
    display: flex;
    position: relative;
    padding: 200px;
}
.heading-text{
   padding: 120px;
   flex-direction: column;
}
.btn{
    padding: 10px 20px;
    background: #E55473;
    color: white;
    border: none;
    border-radius:0px;
}

.featured-title{
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}
.featured-text{
    text-align: center;
    justify-content: center;
    
    
}
.service-container{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px;
     border-color: white;
     
     
     
 }
 .box-title{
    padding: 10px;
 }
 .icon-1{
    background-color: lightpink;
    border-radius: 300px 300px 0px 0px;
    width: 150px;
    height: 200px;
    flex-shrink: 0;
    padding: 80px 46px 0px 48px;
 }
 .icon-2{
    background-color: lightgoldenrodyellow;
    border-radius: 300px 300px 0px 0px;
    
    width: 150px;
    height: 200px;;
    flex-shrink: 0;
    padding: 80px 46px 0px 48px;
    
 }
 .icon-3{
    background-color: lightsalmon;
    border-radius: 300px 300px 0px 0px;
   
    width: 150px;
    height: 200px;
    flex-shrink: 0;
    padding: 80px 46px 0px 48px;
   
 }
 .name{
     display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 10px;
 }
 .heading-2{
    background-color: lightyellow;  
    height: 50vh;
    display: flex;
    /* justify-content: */
    border: 2px solid gray;
    align-items: center;
 }
.heading-2-image{
    height: 300px;
    display: flex;
    position: relative;
    padding: 200px;
}
.icon{
    width: 240px;
    height: 250px;;
    flex-shrink: 0;
    /* padding: 80px 46px 0px 48px; */
}
.service-containers{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-color: white;
    height: 260px;
    /* margin: -50px; */
}

footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 100px 0px ;
    margin-top: 100px;
    justify-content: center;
    background-image: url("kulu.png");
    background-repeat: no-repeat;
     height: 200px; 
    margin: 150PX; 
    
}


.contact input{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px ;
}
.name-2{
    width: 500px;
    height: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
featured-head{
    display: flex;
    justify-content: center;
}
.footer-desc{
    display: flex;
    line-height: normal;
    font-weight: 400px;

   
}
.featured-text-2{
    text-align: center;
    justify-content: center;
    
}


.featured-title-2{
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.footer-last{
    margin-bottom: 100px;
    position: relative;
    align-items: center;
}
.featured-para-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.text-color{
    color: salmon;
}
.last-section{
   
    height: 40vh;
    background: black;
    margin-top: 100px;
    justify-content: center;  
   
}
.text-rong{
    color: white;
}
.last-heading{
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
    
}
.last-para{
    color: white;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    /* margin-left: 505px; */
    margin-top: 20px;
}

.text-last{
    background: #000;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}